body {
    background: gray;
}

.wrapper:after {
content: "";
display: block;
clear:both;

}
.text h3, .text p {
    color:  blueviolet;
    text-align: center;
}

.text {
    float:left;
    background: cornflowerblue;
    width: 29.33%;
    margin:1%;
    padding: 1%;
    height: 150px;
}